@model Assignment_3.Models.PlaylistBaseViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Playlist Details @Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt>
            Tracks now on the playlist <span class="badge">@Html.DisplayFor(model => model.TracksCount)</span>
        </dt>
        <dd>
            @foreach (var track in Model.Tracks)
            {
                <p>@track.Name</p>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaylistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
