@model Assignment_3.Models.PlaylistEditTracksFormViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit playlist <span class="bg-info">@Model.Name</span></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Select tracks, and click the "Save changes" button</h4>
    <hr />
    <input type="submit" value="Save changes" class="btn btn-default" /> @Html.ActionLink("Back to Details", "Details", new { id = Model.PlaylistId }) | @Html.ActionLink("Back to List", "Index") 
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PlaylistId)

    <div class="form-group">
      <div class="row">
          <div class="col-md-6">
              <p>All Tracks</p>
              @foreach(var track in Model.PlaylistTracks)
                {
                    <input type="checkbox" name="TrackIds" value="@track.Value" checked="@track.Selected"/>
                    @track.Text
                    <br />
                }
          </div>
          <div class="col-md-6 well">
              <p>Now on playlist <span class="badge">@Model.CurrentTracks.Count()</span></p>
              @foreach (var cTrack in Model.CurrentTracks)
              {
                  <p>@cTrack.NameShort</p>
              }
          </div>
      </div>
    </div>


</div>
}

<div>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
